
.group {
  position: relative;

  .form-input {
    background: none;
    background-color: white;
    color: black;
    font-size: 18px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;

    &:focus {
      outline: none;
    }
    &:focus .input[type=text], input[type=password], input[type=email] {
      top: -14px;
      font-size: 12px;
      color: gray;
  }
    // &:focus ~ .form-input-label {
    //   @include shrinkLabel();
    // }
  }
  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: black;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;
    &.input[type=text], input[type=password], input[type=email] {
      font-size: 20px;
      margin-bottom:10px;
      box-sizing: border-box;
  }
    // &.shrink {
    //   @include shrinkLabel();
    // }
  }

 
}
